.header {
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}

/* media query on small screens below 400px */
@media only screen and (max-width: 400px) {
  .header {
    font-size: 1.25rem;
  }
}

.main {
  display: flex;
  flex-direction: column; /* stack the cards vertically on small screens */
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  max-width: 1100px;
  width: 100vw;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main > a {
  margin-top: calc(10px + 1.2vw);
}
